body{
    background-color: lightpink ;
    color:beige;
    font-family: "Roboto Mono", monospace;
}
header {
border-bottom: solid 2px white;
padding: 0px;
font-size: 40px ;
color: lightcyan ;
}
section{
    background-color: rgba(228, 132, 169, 0.952);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
div {
margin-right: 5%;
}
.chamada-texto {
    font-size: 15px;
}